.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.basic-btn {
  width: 60px;
  height: 20px;
  align-content: center;
  margin-right: 2px;
  margin-left: 2px;
}

.button-confirm {
  background-color: aqua;
}

.button-cancel {
  background-color: crimson;
}

.button-rename {
  background-color: darkorange;
}

.button-create {
  background-color: darkorange;
}

.button-delete {
  background-color: crimson;
}

.div-centered {
  text-align: center;
}

.div-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
