.basic-btn {
  width: 60px;
  height: 20px;
  align-content: center;
  margin-right: 2px;
  margin-left: 2px;
}

.small-basic-btn {
  width: 45px;
  height: 20px;
  align-content: center;
  margin-right: 2px;
  margin-left: 2px;
}

.btn-collapse {
  width: 20px;
  height: 20px;
  align-content: center;
  margin-right: 2px;
  margin-left: 2px;
  background-color: wheat;
}

.button-confirm {
  background-color: aqua;
}

.button-cancel {
  background-color: crimson;
}

.button-rename {
  background-color: darkorange;
}

.button-create {
  background-color: darkorange;
}

.button-delete {
  background-color: crimson;
}

.button-mark {
  background-color: lime;
}

.button-move {
  background-color: gold;
}

.div-centered {
  text-align: center;
}

.div-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.input-readOnly {
  border-color: transparent;
  background-color: transparent;
}
